/* FILE UP FOR DELETION */


body {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */
}

p {
    text-align: center;
    font-size: 24px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px; 
}

input {
    width: 350px;
    padding: 10px;
    margin-top: 20px; 
    border: none; 
    border-bottom: 2px solid black; 
    outline: none; 
}

button {
    background-color: #F9834C;
    color: white;
    width: 350px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px; 
    box-shadow: 0 4px 8px rgba(130, 127, 127, 0.5);
}

button:hover {
    background-color: rgb(9,160,145,255); /* Change the color on hover */
}   

/* Style the image */
#sideImage {
    max-width: 40%; 
    margin-left: 40px; 
}