body{
    background-color: #F1F1F1 !important;
}

.buurtboer_nav{
    background-color: white !important;
}

.page_container{
    background-color: #fff !important;
    box-shadow: 3px 10px 8px #888888 
}

.delete_cross{
    width: 30px;
}

.submit_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
