body{
    background-color: #F1F1F1 !important;
}

.buurtboer_nav{
    background-color: white !important;
}

.page_container{
    background-color: #fff !important;
    box-shadow: 3px 10px 8px #888888 
}
